[user]
	email = hugemerge@gmail.com
	name = sushidesu
[init]
	defaultBranch = main
[pull]
	ff = only
[core]
	editor = vim -c \"set fenc=utf-8\"
	ignorecase = false
	quotepath = false
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default

[advice]
	detachedHead = false
[alias]
	alias = config --get-regexp ^alias\\.
	stu = stash -u
	stp = stash pop
	stl = stash list
	lo = log --oneline -12 --reverse
	logn = log --name-status --oneline -5
	logs = "!f() { git log --reverse \"$1\"..HEAD --pretty=format:'%h' | tr '\\n' ',' | sed 's/,$//'; }; f"
	ss = status
	ca = commit --amend
	can = commit --amend --no-edit
	fp = fetch --prune
	a = add -A
	c = commit
	cm = commit -m
	ac = commit -a
	pl = pull
	ps = push
	sw = switch
	swc = switch -c
	b = branch
	ba = branch -a
	bd = branch -d
	bdd = branch -D
	; https://zenn.dev/hikarin/articles/f09f655c47053096f196
	stash-find = !"git fsck --unreachable | awk '/commit/ {print $3}' | xargs git log --merges --no-walk --grep=WIP --all-match"
	stash-pick = cherry-pick -n -m1

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
