[user]
	email = hugemerge@gmail.com
	name = sushidesu
[init]
	defaultBranch = main
[pull]
	ff = only
[core]
	editor = vim -c \"set fenc=utf-8\"
	ignorecase = false
	quotepath = false
[alias]
	alias = config --get-regexp ^alias\\.
	lo = log --oneline -12 --reverse
	logn = log --name-status --oneline -5
	ss = status
	ca = commit --amend
	can = commit --amend --no-edit
	fp = fetch --prune
	a = add -A
	c = commit
	cm = commit -m
	ac = commit -a
	pl = pull
	ps = push
	sw = switch
	swc = switch -c
	ba = branch -a
	bd = branch -d
	bdd = branch -D

